
body          { font-family: Arial, Helvetica, sans-serif; }
/*#stats        { border: 2px solid black; }
#controls     { width: 28em; float: left; padding: 1em; font-size: 0.7em; }
#controls th  { text-align: right; vertical-align: middle; }
#instructions { clear: left; float: left; width: 17em; padding: 1em; border: 1px solid black; box-shadow: 0 0 5px black; }*/
#racer        { position: relative; z-index: 0; width: 95vw ;height: 95vh;  border: 2px solid black; }
#canvas       { position: absolute; z-index: 0; width: 95vw; height: 95vh; z-index: 0; background-color: #72D7EE; }
#mute         { background-position:   0px 0px; width: 32px; height: 32px; background: url(images/mute.png); display: inline-block; cursor: pointer; position: absolute; margin-left: 20em; }
#mute.on      { background-position: -32px 0px; }
#introduction { position: absolute; z-index: 0; width: 50vw; height: 360px; background-color: #B0E0E6; opacity: 0.8;}
#return       { position: absolute; z-index: 0; width: 100px; height: 20px; top:20%;left:80%;  }
#destination  { position: absolute; z-index: 0; width: 60vw; height: 300px; left: 15%; top: 10%;}
#place        { position: absolute; z-index: 0; width:10vw; height: 50px; left: 48%; top: 65%;}
#pre_des      { position: absolute; z-index: 0; width: 10vw; height: 50px; left: 43%; top: 42%;}
/**************************************************/
/* rudimentary heads up display (only used in v4) */
/**************************************************/

#hud                   { position: absolute; z-index: 1; width: 95vw; padding: 5px 0; font-family: Verdana, Geneva, sans-serif; font-size: 0.8em; background-color: rgba(255,0,0,0.4); color: black; border-bottom: 2px solid black; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#hud .hud              { background-color: rgba(255,255,255,0.6); padding: 5px; border: 1px solid black; margin: 0 5px; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud #speed            { float: right; }
#hud #current_lap_time { float: left;  }
#hud #last_lap_time    { float: left; display: none;  }
#hud #fast_lap_time    { display: block; width: 12em;  margin: 0 auto; text-align: center; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud .value            { color: black; font-weight: bold; }
#hud .fastest          { background-color: rgba(255,215,0,0.5); }


/***********************virtual button**************************/
#up { position:absolute; z-index:1; width: 100px; height:100px; left:80vw; top:350px; background-image:url("images/up.png"); background-size:contain; border:0; border-radius:28px; opacity:0.5; cursor:pointer; outline:none; display:none;}
#down { position:absolute; z-index:1; width: 100px; height:100px; left:80vw; top:450px; background-image:url("images/down.png"); background-size:contain; border:0; border-radius:28px; opacity:0.5; cursor:pointer; outline:none; display:none;}
#left { position:absolute; z-index:1; width: 100px; height:100px; left:100px; top:415px; background-image:url("images/left.png"); background-size:contain; border:0; border-radius:28px; opacity:0.5; cursor:pointer; outline:none; display:none;}
#right { position:absolute; z-index:1; width: 100px; height:100px; left:200px; top:415px; background-image:url("images/right.png"); background-size:contain; border:0; border-radius:28px; opacity:0.5; cursor:pointer; outline:none; display:none;}

/***********************virtual button**************************/


