
#bg_setting{

  width: 100vw;
}
#form{
	position:absolute;
  margin-top:15%;
  width : 30vw;
  height: 50vh;
}
img{
	transition: transform 2s;
}
 #backgroundL
{
	position:absolute;
	max-width:100vw;
	height:100vh;
}
#building
{
	position:absolute;
	width:60vw;	
	height:75vh;
	right:0%;
	bottom:-20%;
	opacity:0;
}
#logo
{
	position:absolute;
	width:20vw;
	height:18vh;
	right:25%;
	top:25%;
}
#line
{
	position:absolute;
	width:37vw;
	height:0.5vh;
	top:28%;
	left:7%;
	opacity:0;
}
#car
{
	position:absolute;
	width:6vw;
	height:5vh;
	top:22%;
	left:-10%;
}
#stuid
{
	position:absolute;
	width:5vw;
	height:3.5vh;
	top:37%;
	left:-30%;
}
#pw
{
	position:absolute;
	width:11vw;
	height:3.5vh;
	top:48%;
	left:-30%;
}
#name
{
	position:absolute;
	width:11vw;
	height:3.5vh;
	top:33%;
	left:6%;
	display:none;
}
/*
#backgroundS
{
	position:absolute;
	max-width:100vw;
	display:none;
}
 */
#btns{
  position:relative;
  display:inline;
  margin-left:60%;
  left:-100%;
}


#login_button
{
  border:0;
  position:relative;
  margin-top:30%;
  max-width:7vw;

  cursor:pointer;
}
#sign_up_button
{
  border:0;
  position:relative;
  margin-top:30%;
  max-width:7vw;
  cursor:pointer;
}
#finish_button
{
  border:0;
  position:relative;
  max-width:7vw;
  margin-top:30%;
  cursor:pointer;
  display:none;
}
#ID_text
{
  border:2px #cccccc solid;
  border-radius:10px;
  font-size:16px;

  position:relative;
  margin-left:60%;
  margin-top:8%;
  width:60%;
  height:1.75em;
}
#PASSWORD_text
{
  border:2px #cccccc solid;
  border-radius:10px;
  font-size:16px;
  position:relative;
  margin-left:60%;
  margin-top:8%;
  width:60%;
  height:1.75em;

}
#NAME_text
{
  border:2px #cccccc solid;
  border-radius:10px;
  font-size:16px;

  position:relative;
  margin-left:60%;
  margin-top:8%;
  width:60%;
  height:1.75em;
  display:none;
}
#ajax_content
{
  position:absolute;
  top:80%;
  left:3%;
  color:white;
}

#fb_login{
  position:relative;
  left:50%;
  margin-top:5%;


}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
body {
  background: #333;
  font-family: $openSans;
}

.buttons {
  margin-top: 50px;
  text-align: center;
}

$cyan: #0fe0f5;
$dark: #222;
$borderW: 6px;

.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
  }
  
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;
    border: $borderW solid $dark;
    transition: all 0.3s 0.2s;
  }
  
  &:hover {
    color: $dark;
    
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
    }
  }
  
  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  &__blob {
    position: absolute;
    top: $borderW;
    width: 100% / $numOfBlobs;
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.45s;
    
    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }
    
    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }
    
    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);
      
      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
  
}
