#backgroundL
{
	position:absolute;
	height:100vh;
	width:100vw;
}
#backgroundS
{
	position:absolute;
	height:100vh;
	width:100vw;
	display:none;
}

#login_button
{
	border:0;
	position:absolute;
	left:14%;
	top:65%;
	height:6vh;
	width:7vw;
	background-image:url("https://github.com/wangchangchun/StreetRacingInTinan/blob/master/project/public/LOGIN%20BANNER.png?raw=true");
	background-size:contain;
	background-repeat:no-repeat;
	cursor:pointer;
}
#sign_up_button
{
	border:0;
	position:absolute;
	left:25%;
	top:65%;
	height:6vh;
	width:7vw;
	background-image:url("https://github.com/wangchangchun/StreetRacingInTinan/blob/master/project/public/SIGNUP%20BANNER.png?raw=true");
	background-size:contain;
	background-repeat:no-repeat;
	cursor:pointer;
}
#finish_button
{
	border:0;
	position:absolute;
	left:25%;
	top:65%;
	height:5vh;
	width:7vw;
	background-image:url("https://github.com/wangchangchun/StreetRacingInTinan/blob/master/project/public/FINISH%20BANNER.png?raw=true");
	background-size:contain;
	background-repeat:no-repeat;
	cursor:pointer;
	display:none;
}
#ID_text
{
	border:2px #cccccc solid;
	border-radius:10px;
	font-size:20px;
	padding:10px;
	position:absolute;
	left:18%;
	top:31%;
	width:10vw;
	height:5vh;
}
#PASSWORD_text
{
	border:2px #cccccc solid;
	border-radius:10px;
	font-size:20px;
	padding:10px;
	position:absolute;
	left:18%;
	top:40%;
	width:10vw;
	height:5vh;
}
#NAME_text
{
	border:2px #cccccc solid;
	border-radius:10px;
	font-size:20px;
	padding:10px;
	position:absolute;
	left:13%;
	top:30%;
	width:10vw;
	height:5vh;
	display:none;
}
#ajax_content
{
  position:absolute;
  top:80%;
  left:3%;
  color:white;
}
