#roomList{
    position:absolute;
    left:50vw;

}
.dropdown{
    color:black;
}
#bg_pic{
    position:absolute;
    width: 100vw;
    height:100vh;
    z-index:-1;
}
#menu_pic{
    position:absolute;
    width: 100vw;
    top:30%;
}
#create{
    position:absolute;
    width:20vw;
    top:35%;
    left:10%;
}
#search{
    position:absolute;
    width:20vw;
    top:45%;
    left:10%;
}
#out{
    position:absolute;
    width:20vw;
    top:55%;
    left:10%;
  }
  #multiStart{
    position:absolute;
    left:70%;
    top:55%;
    width:20vw;
    z-index:1;

  }
  #inRoom{
    position:absolute;
    top:5%;
    left: 10%;
    z-index: 10;

  }
  #inRoom  p{
    position:relative;
    left: 20%;
    z-index: 10;
    font-size:36;
  }
  #inRoom img{
    position:absolute;
    z-index:10;
    width:20vw;
  }
  .memberBlock{
    position:relative;
    z-index:10;
    width:20vw;
    padding-top:5%;
    margin-top:10%;
    margin-left:10%;
  }
  /*
   * { margin: 0; padding: 0; box-sizing: border-box; }
   body { font: 13px Helvetica, Arial; }
   */
  #chatBoard{z-index:12; padding: 3px; position: fixed; bottom: 0; width: 100%;}

  #m { border: 0; padding: 10px; width: 85%; margin-right: .5%; }
  #sendMsg { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
  #messages {overflow: scroll;height:25vh; list-style-type: none; margin: 0; padding: 0; }
  #messages li {background:#aff; padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
  #messages::-webkit-scrollbar {
    width: 1em;
  }

  #messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  #messages::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
