#bgPic{
  position:absolute;
  max-width: 95vw;
}
#menuBtn{
  position:relative;
  max-width: 20vw;
  padding-top:20%;
  left:10%;
}
#start{
  position:relative;
  max-width: 20vw;
  padding-top:5%;
}
#ach{
  position:relative;
  max-width: 20vw;
  padding-top:5%;
}
#exit{
  position:relative;
  max-width: 20vw;
  padding-top:5%;
}
