#bgPic{
  position:absolute;
  max-width: 95vw;
}
#menuBtn{
  position:relative;
  max-width: 20vw;
  padding-top:20%;
  left:10%;
}
#start{
  position:relative;
  max-width: 20vw;
  padding-top:5%;
}
#ach{
  position:relative;
  max-width: 20vw;
  padding-top:5%;
}
#exit{
  position:relative;
  max-width: 6vw;
  padding-top:5%;
}
/*
#testData{

  z-index:10;
  position:absolute;
  margin-top:-20%;
  left:60%;
  font-size:x-large;
  font-weight:800;
  color:black;
}*/
#record{

  z-index:10;
  position:absolute;
  max-width:60vw;
  height:auto;
  margin-top:-20%;
  left:30%;
  font-size:medium;
  /*font-weight:600;*/
  color:black;
}
#return{
  position:relative;
    z-index:10;
    max-width:10vw;
  padding-top:20%;
  left:5%;
}
#share{
    position:relative;
    z-index: 10;
    max-width:10vw;

}
